.user-profile {
    padding-top: 150px;
    background-color:rgb(111, 111, 161);
    display: flex;
}

.user-profile-info {
    padding: 30px;
    background-color: white;
    flex: 2.5;
    display: flex;
    flex-direction: column;
}

.lastest-quiz-result {
    color: white;
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.lastest-quiz-result h1 {
    color: rgb(255, 203, 106);
}

.orange_line {
    height: 4px;
    background-color: rgb(255, 159, 70);
    margin-bottom: 20px;
}

.user-profile-info-selected-roadmap {
    display: flex;
}

.roadmap1,
.roadmap2 {
    background-color: rgb(206, 198, 184);
    width: 180px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 20px 20px 0px;
}

.user-profile-info-test-opener {
    background-color: rgb(255, 203, 106);
    padding: 20px;
    border-radius: 5px;
}

.button-profile-test-opener{
    background-color: rgb(111, 111, 161);
    color: white;
    font-weight: 600;
    width: 200px;
}

.intro-line {
    height: 4px;
    background-color: rgb(111, 111, 161);
    margin-bottom: 20px;
    width: 60%;
}

/* .character-box {
    margin-top: 20px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    padding: 20px;
} */

@media screen and (max-width: 767px) {
    .user-profile {
        flex-direction: column-reverse;
    }

    .lastest-quiz-result {
        display: flex;
        flex-direction: column;
    }

    body {
        padding-top: 100px;            
    }   
         
    .lastest-quiz-result {
        font-size: 22px;   
    }
}