.roadmap-page-main {
    background-color: rgb(111, 111, 161);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}


.roadmap-page-content {
    row-gap: 0;
    width: 100%;
}

.roadmap-page-test-opener-header {
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.roadmap-page-content-icon,
.roadmap-page-content-arrow {
    font-size: 2rem;
    margin-right: 10px;
    margin-left: 20px
}

.roadmap-page-content-top, 
.roadmap-page-content-bottom {
    padding: 25px;
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.roadmap-page-content-top  {
    margin-top:50px;
    background-color: white;
    
}

.roadmap-page-content-bottom {
    margin-top:50px;
    background-color: rgb(255, 201, 100);
}

.roadmap-page-test-opener {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(255, 201, 100);
}

.roadmap-page-test-opener-button {
    background-color: rgb(111, 111, 161);
    color: white;
    font-weight: 600;
    width: 200px;
}

.roadmap-page-test-opener:hover,
.roadmap-page-content-top:hover,
.roadmap-page-content-bottom:hover {
    transform: scale(1.02);
    transition: 0.25s;
}

.roadmap-page-title {
    text-align: center;
    color: white;
}
  
.roadmap-page-title-line {
    background-color: orange;
    height: 3px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 40px;
}
  
h2 {
    font-size: 40px;
}

@media screen and (max-width: 767px) {
    h2,
    h1 {
        font-size: 25px;  
    }
}