/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");


  
*{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

iframe {
  text-align: center;
  width: 100%;
  height: 500px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.tree-logo {
height: 20px;
}



/* BODY */

.main-page-intro,
.main-page-second-intro {
    padding: 90px 30px 50px 30px;
    background-color: rgb(111, 111, 161);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutus-main-intro {
  padding: 100px 25px 100px 25px;
  color: rgb(67, 67, 97);
    background-color: rgb(255, 159, 70);
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-page-second_intro {
  background-color: white;
  padding: 90px 30px 50px 30px;
}

.main-page-intro-content {
  align-items: center;
  color: white;
  font-weight: 600;
}


.main-page-intro-picture {
  margin-top: 20px;
height: 150px;
overflow:visible
}

.main-page-second-intro-content ul li {
  list-style:circle;
}

.main-page-second-intro-picture {
  height: 170px;
}


body {
    margin: 0px;
  }

button {
  font-weight: bold;
  background-color:  rgb(255, 159, 70);
  border: none;
  border-radius: 10px;
  height: 55px;
  font-size: 15px;
  padding: 6px 12px;
  color: rgb(67, 67, 97);
  cursor: pointer
}

button:hover {
  background: rgb(67, 67, 97);
  color: white;
}

.main-page-button2 {
  background-color: rgb(111, 111, 161) ;
  color: white;

}

.main-page-button2:hover {
  background-color: rgb(255, 159, 70) ;
  color: rgb(67, 67, 97);
}

.footer {
  color:rgb(67, 67, 97);
  background-color: rgb(255, 159, 70);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer-aboutus {
  background-color: rgb(111, 111, 161);
  color: white;
}

.footer-bottom {
  padding: 0px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
}

.form-info {
  padding-bottom: 30px;
  width: 300px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 300px;
}
 
.form-control {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 300px;
  height: 100px;
}

.footer-form-button {
  color: white;
  margin-top: 20px;
  width: 110px;
  background-color: rgb(67, 67, 97);
  font-weight: 600;
}

.footer-form-button-aboutus {
  background-color: rgb(255, 159, 70);
}

.footer-form-button:hover {
  background-color: white;
  color: rgb(67, 67, 97)
}

.footer-top {
  font-weight: 600;
  text-align: center;
  padding: 0px 40px 30px 40px;
}

.social-media {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
}

.social-media li a {
  color: white;
  background-color: rgb(67, 67, 97);
  padding: 15px;
  display: inline-flex;
  margin-left: 10px;
  border-radius: 100%;
  font-size: 22px;
}

.social-media-aboutus li a {
  background-color: rgb(255, 159, 70);
}

.social-media li a:hover {
  background-color: white;
  color: rgb(67, 67, 97)
}


.main-page-third-intro-picture {
  height: 100px;
}


/* MEDIA QUERIES */

@media screen and (min-width: 425px) {
  .main-page-second-intro-picture {
    height: 200px;
    }

    .main-page-second-intro-content {
      padding-left: 40px;
    }
  }

  

  @media screen and (min-width: 924px) {
      .main-page-intro,
      .main-page-second_intro {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }

    .main-page-intro-picture,
     .main-page-second-intro-picture {
       height: 260px;
       margin-left: 20px;
     }
     
     .main-page-intro-content {
       padding-left: 30px;
     }

     .main-page-second-intro-picture {
      height: 320px;
      margin-left: 20px;
      margin-right: 36px;
     }

     h2 {
       font-size: 30px;
       margin-bottom: 17px;
     }

     .main_intro_aboutUs {
       padding: 200px 70px;
     }

     .footer {
      background-color: rgb(255, 159, 70);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    .footer-aboutus {
      background-color: rgb(111, 111, 161);
      color: white;
    }
    .footer-form-button-aboutus {
      background-color: rgb(255, 159, 70);
    }
    .social-media-aboutus li a {
      background-color: rgb(255, 159, 70);
    }
}

  
